<div id="wrap" class="colorskin-0">
<!-- <div class="top-bar">
<div class="container">
<div class="top-links"> <a href="#">Form</a> | <a href="#">Terms</a> | <a href="#">Contact</a></div>
<div class="socailfollow"><a href="#" class="facebook"><i class="icomoon-facebook"></i></a> <a href="#" class="dribble"><i class="icomoon-dribbble"></i></a>  <a href="#" class="vimeo"><i class="icomoon-vimeo"></i></a><a href="#" class="google"><i class="icomoon-google"></i></a> <a href="#" class="twitter"><i class="icomoon-twitter"></i></a></div>
</div>
</div> -->
<header id="header">
<div  class="container">
<div class="four columns logo">
  <a href="index.html">
  <!--   <img src="/images/logo-retina1.png" width="120" id="img-logo" alt="logo"> -->
    <h4>Big Data & HCI Hackathons</h4>
  </a> 
  CSCI 4830-002 | Fall 2014 | <a href="http://www.colorado.edu">CU Boulder</a></div>

<nav id="nav-wrap" class="nav-wrap1 twelve columns">

        <ul id="nav">
        <li {% if page.group == "syllabus" %} class="current" {% endif %}>
          <a href="/">Home</a>
            <ul>              
              <li><a href="/syllabus/grading">Grading</a></li>
              <li><a href="/syllabus/policy">Policy</a></li>              
          </ul>
        </li>

        <li {% if page.group == "challenge" %} class="current" {% endif %}>
          <a href="/challenges">Challenges</a>
            <ul>
            {% for c in site.data.challenges %}  
              <li><a href="{{c.url}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </li>
        
        
        <li {% if page.group == "hackathon" %} class="current" {% endif %}>
          <a href="/hackathons">Hackathons</a>        
            <ul>
            {% for id in site.data.hackathons.ids %}  
            {% assign c = site.data.hackathons[id] %}
              <li><a href="{{c.url}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </li>

        <li {% if page.group == "project" %} class="current" {% endif %}>
          <a href="#">Projects</a>
          <ul>
            {% for c in site.data.projects %}  
                    <li><a href="{{ c.url }}">{{ c.name }}</a></li>
            {% endfor %}
            </ul>
          </ul>
        </li>
      </ul>
  </nav>
    <!-- /nav-wrap -->
</div>
</header>
<!-- end-header -->