---
layout: syllabus
title: Schedule
group: syllabus
---

<h1> Special Events </h1>

<table>
	<tr><td>
		<a href="/projects/1/make-a/">Make Workshops</a>
	</td>
	<td>
		<ul>
		<li>Tuesday 9/2 2:30-4:30PM</li>
		<li> Wednesday 9/3 5-7PM</li>
		</ul>
	</td>
</tr>
</table>

<h1> Hackathons </h1>

<table>
{% for id in site.data.hackathons.ids %}
{% assign h = site.data.hackathons[id] %}

<tr>
<td><a href="{{h.url}}">{{ h.name }}</a></td>
<td>{{ h.date | date: "%D" }}</td>
</tr>

{% endfor %}
</table>

<h1> Learning Challenges & Projects </h1>

<table>
	<THEAD><tr>
			<th>Challenge</th><th>Project</th><th>Assigned</th><th>Due</th>
	</tr></THEAD>
	<TBODY>
{% for i in (0..15) %}
{% assign c = site.data.challenges[i] %}

{% assign project_id = site.data.projects.ids[i] %}
{% assign p = site.data.projects[project_id] %}

<tr>
<td><a href="{{c.url}}">{{ c.name }}</a></td>
<td><a href="{{p.url}}">{{ p.name }}</a></td>
<td>{{ c.assigned | date: "%D" }}</td>
<td>{{ c.due | date: "%D" }}</td>
</tr>

{% endfor %}
</TBODY>
</table>