---
layout: list
title: Challenges
group: challenge
---

{% for x in site.data.challenges %}

<article class="blog-post">
        <div class="one columns alpha">
          <div class="blog-date-sec"> 
            <span style="font-weight:bolder;">START</span>
            <span>{{ x.assigned | date: "%b" }}</span>
            <h3>{{ x.assigned | date: "%d" }}</h3>
            <span>{{ x.assigned | date: "%Y" }}</span> </div>
        </div>
        <div class="one columns alpha">
          <div class="blog-date-sec"> 
            <span style="font-weight:bolder;">DUE</span>
            <span>{{ x.due | date: "%b" }}</span>
            <h3>{{ x.due | date: "%d" }}</h3>
            <span>{{ x.due | date: "%Y" }}</span> </div>
        </div>        
<!--         <div class="three columns alpha"> <img src="{{x.url}}/banner.jpg" alt=""><br>
        </div> -->
        <div class="six columns omega">
          <h3><a href="{{x.url}}">{{ x.name }}</a></h3>
<!--           <div class="postmetadata">
            <h6 class="blog-author"><strong>by</strong> John Smith </h6>
            <h6 class="blog-cat"><strong>in</strong> Business, News, Company </h6>
          </div>
 -->          <ul>  
             {% for unit_key in x.units %}

              <li>{{ site.data.units[unit_key].name }}</li>
             {% endfor %} 
              </ul>


          <a href="{{x.url}}"  class="readmore">read more</a> </div>
        <br class="clear">
</article>

{% endfor %}