---
layout: default
---

{% assign c = site.data.hackathons[page.id] %}

<section id="headline">
  <div class="container">
    <h3> {{c.name}} </h3>
      <button type="button" class="small teal">
        <span class="icomoon-calendar-4"></span>
        {{ c.date.month }} {{ c.date.day }}, {{ c.date.year}}, 5:15pm - 7:45pm
      </button>
      <button type="button" class="small gray">
        <span class="icomoon-location-6"></span>
        {{ c.location }}
      </button>      
  </div>
</section>

<section class="container page-content" >
    <hr class="vertical-space2">
    <section class="eleven columns">
      <article>
        {{ content }}
      </article>
    </section>
    <aside class="four columns offset-by-one sidebar">
      <h4 class="subtitle">Hackathons</h4>
      <div class="listbox1">
        <ul>
          {% for id in site.data.hackathons.ids %}
          {% assign c = site.data.hackathons[id] %}  
            <li><a href="{{c.url}}">{{c.name}}</a></li>
          {% endfor %}        
        </ul>
      </div>
    </aside>
    <!-- end-sidebar-->
    <hr class="vertical-space2">
</section>
  <!-- container -->