---
layout: default
---

{% assign p = site.data.projects[page.id] %}
{% assign c = site.data.challenges[p.week] %}

<section id="headline">
    <div class="container">
      <h3> {{p.name}} </h3>
      <button type="button" class="medium red">
        Due: <span class="icomoon-calendar-4"></span>
        {{ c.due | date: "%D"}}, 11:59pm
      </button>
    </div>
</section>

<section class="container page-content" >
    <hr class="vertical-space2">
    <section class="eleven columns">
      <article>
        {{ content }}
      </article>
    </section>
    <aside class="four columns offset-by-one sidebar">
      <h4 class="subtitle">Project Milestones</h4>
      <div class="listbox1">
        <ul>
          {% for id in site.data.projects.ids %}
          {% assign c = site.data.projects[id] %}  
            <li><a href="{{c.url}}">{{c.name}}</a></li>
          {% endfor %}        
        </ul>
      </div>
    </aside>
    <!-- end-sidebar-->
    <hr class="vertical-space2">
</section>
  <!-- container -->

{% include disqus.html %}