---
layout: default
---

{% assign unit = site.data.units[page.id] %}

<section id="headline">
    <div class="container">
      <h3> {{unit.name}} </h3>
    </div>
</section>

<section class="container page-content" >
    <hr class="vertical-space2">
    <section class="eleven columns">
      <article>
        {{ content }}
      </article>
    </section>
    <aside class="four columns offset-by-one sidebar">
      <h4 class="subtitle">Challenges</h4>
      <div class="listbox1">
        <ul>
          {% for id in site.data.challenges.ids %}
          {% assign c = site.data.challenges[id] %}
            <li><a href="{{c.url}}">{{c.name}}</a></li>
          {% endfor %}        
        </ul>
      </div>
    </aside>
    <!-- end-sidebar-->
    <hr class="vertical-space2">
</section>
  <!-- container -->